{% extends 'base.html.twig' %}

{% block title %}Modification du Profil{% endblock %}

{% block body %}

    <h1>Modification du mot de passe</h1>

    <form action="{{ path('profile_change_password', {id:app.user.id}) }}" method="post">

        <input type="password" name="oldPassword" id="oldPassword" placeholder="Mot de passe actuel">
        <input type="password" name="newPassword" id="newPassword" placeholder="nouveau mot de passe">
        <input type="password" name="newPasswordConfirmed" id="newPasswordConfirmed" placeholder="Confirmez le nouveau mot de passe">

        <button type="submit" class="btn btn-outline-success" href="">Valider</button>
        <a href="{{ path('profile') }}" class="btn btn-outline-warning" href="">Retour</a>
    </form>


{% endblock %}
